@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Sofia Sans', sans-serif;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5{
    font-weight: 500;
}
a{
    text-decoration: none;
}
.container{
    padding: 60px 60px;
    margin-top: 100px;
}
/* header */
header{
    background: linear-gradient(to top, rgba(0, 0, 255, 0.185) 20% , rgba(0, 0, 0, 0.596) 70%), url(img/hero.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;
}
nav img{
    width: 120px;
}
.nav-links a{
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.nav-links a i{
    font-size: 16px;
    padding-left: 5px;
}
.login{
    border: 1px solid white;
    padding: 5px 25px;
    border-radius: 2rem;
}
.signup{
    padding: 5px 25px;
    background-color: #1163b8;
    border-radius: 2rem;
    border: 1px solid #1163b8;
}
/* hero */
.hero{
    padding: 80px;
    width: 70%;
    position: relative;
}
.hero h1{
    font-size: 80px;
    line-height: 65px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    text-shadow: 2px 5px #000307;
}
.hero p{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.hero a{
    padding: 6px 30px;
    background-color: #1163b8;
    color: white;
    border-radius: 2rem;
    font-size: 20px;
    letter-spacing: 1px;
}
.copy-right{
    position: absolute;
    bottom: 3%;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: 2px 2px #000307;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid white;
}